version: "3.8"

services:
  backend:
    build: ./backend
    container_name: backend
    restart: always   
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${DB_HOST}:5432/employee_db
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092

      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION}
      S3_BUCKET_NAME: ${S3_BUCKET_NAME}

      APP_JWT_SECRET: ${APP_JWT_SECRET}
      APP_JWT_EXPIRATION_MS: ${APP_JWT_EXPIRATION_MS}

      TZ: Asia/Kolkata
      JAVA_OPTS: "-Duser.timezone=Asia/Kolkata"
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always  
    depends_on:
      - backend
    volumes:
      - frontend:/usr/share/nginx/html:ro

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always   
    ports:
      - "80:80"
    volumes:
      - ./gateway/nginx.conf:/etc/nginx/nginx.conf
      - frontend:/usr/share/nginx/html:ro
    depends_on:
      - frontend
      - backend

volumes:
  frontend:
